*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url("https://images.unsplash.com/photo-1501339847302-ac426a4a7cbb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1478&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:aliceblue;
}
h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 2rem;
}
.form{
    width:35%;
    border:5px solid white;
    display: flex;
    flex-direction: column;
    font-size: 1.265rem;
}
form{
    display:flex;
    flex-direction: column;
    margin:1rem;
}
button{
    height:3rem;
    color: white;
    background-color: transparent;
    width:26rem;
    text-align: center;
    font-size: large;
    margin-bottom: 3rem;
}
input{
    height:1.5rem;
    width:9rem;
    margin-bottom:3rem;
    color: white;
    background-color: transparent;
}
::placeholder{
    color: white;
}
select{
    height:1.2rem;
    width:12rem;
    margin-bottom:3rem;
    color: white;
    background-color: transparent;
}
#tip{
    display: flex;
    text-align:center;
    font-size: 1rem;
    /* color: white; */
}